* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #f0f0f0; 
    min-height: 100vh;  
    font-size: 1.1vw;     
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 100%;
    border: 1px solid #d6d0d0;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sidebar {
    width: 30%;
    height: auto;
    border-radius: 100px 0px 90px 0px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eae8e8;
    justify-content: space-between;
    position: relative;
}

.sidebar::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    height: 120px;
    background-color: #fff;
    clip-path: path('M 0,0 L 0,120 C 60,120 20,0 120,0 L 0,0 Z');
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
}


.sidebar::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    height: 120px;
    background: none;
    clip-path: path('M 0,120 C 50,120 50,0 120,0 L 0,0 Z');
    border: 2px solid #fff;
    border-bottom: none;
    border-right: none;
    pointer-events: none;
}

ul {
    list-style-type: none;
  }

.sub-title-sidebar {
    color: rgb(34, 101, 133);
}

.sidebar h1 {
    margin-bottom: 10px;
    line-height: 1.2;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar h3 {
    color: rgb(34, 101, 133);
    margin-top: 30px;
}

.sidebar p, .sidebar ul {
    margin-top: 10px;
}
li {
  display: flex;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.main-content {
    width: 70%;
    background-color: #eae8e8; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.info-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 22vh;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 100px 0 0 0; 
    flex: 0 0 auto;
    margin-top: 30px;
}

.info-content h1, .info-content h2 {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 10px;
}

.info-content h1 {
    line-height: 1.2;
    margin-top: 20px;
    font-size: 4vw;
}

.info-content h2 {
    color: #555;
    margin-top: 10px; 
    font-size: 1.3vw;
    font-weight: normal;
    min-height: 20px;
}


@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .cv-container {
        flex-direction: column; 
        width: 100%;
    }
    .sidebar, .main-content {
        width: 100%; 
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

h2 {
    margin-top: 50px;
}

.main-content h3 {
    color: #333;
    background-color: #fff;
}

.content-container {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box; 
    overflow: hidden; 
    width: 100%;
    flex: 1 1 auto;
}

.item-info {
    background-color: #fff;
    border-bottom: 2px solid rgb(34, 101, 133);
    margin-bottom: 5px;
}

.main-content h4 {
    margin-top: 10px;
}

.main-content p {
    line-height: 1.5;
}

.main-content .experience, .main-content .project {
    margin-bottom: 20px;
    background-color: #fff;
}

.main-content {
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
}

.experience, .project {
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
    flex: 0 0 auto; 
    display: block; 
    background-color: #fff;
    border-radius: 5px; 
}

.experience p, .project p {
    word-wrap: break-word; 
    white-space: normal; 
}

.education {
    margin-top: 20px;
}

.contact {
    margin-top: 230px;
}

.title{
    font-size: 1.3vw;
}

ul li strong {
    display: block;
}